venv/

__pycache__/
*.py[cod]
*$py.class

.env
.env.*

.vscode/
.idea/
*.swp
*~

.DS_Store
Thumbs.db

.pytest_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

*.tmp
*.temp
.lgd*

.wav

wav_temp/
whisper.cpp/

herbie_wakewords/*.ppn
herbie_wakewords/*.bin

